@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* serif font for headings */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #DDDDDD;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1, h2, p{
    text-align: left;
    margin-left: 15px;
    color: #1F252C;
}

h1 {
    font-size: 20px;
    margin-top: 45px;
    margin-left: 25px;
}

.projectHeading {
    font-family: "Playfair", serif;
    font-size: 52px;
    font-weight: 700;
    margin-top: 35px;
}

.projectDescription, #aboutDescription {
    max-width: 550px;
    font-size: 14px;
    margin-top: 25px;
    line-height: 150%;
    letter-spacing: 0.04em;
}

#aboutDescription {
    max-width: 650px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    background-color: #DDDDDD;
    height: 100vh;
}

.grid-item {
    border: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item:first-child {
    border-right: 1px solid #C5C5C5;
}

@media (min-width: 768px) {
    .grid-item:first-child {
        min-width: 225px;
        max-width: 350px;
    }
}

.nested-grid-container { 
    margin-top: 65px;
}

.nested-grid-container-1, .nested-grid-container-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 900px;
    margin-left: 15px;
}

.nested-grid-container-2 {
    display: grid;
    grid-template-columns: 1;
    max-width: 900px;
    margin-top: 30px;
    margin-left: 15px;
}

.nested-grid-container-3 {
    margin-top: 30px;
}

.nested-grid-item {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    height: 225px;
    position: relative;
}

.nested-grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#nested-grid-item-1, #nested-grid-item-5 {
    width:550px;
}

#nested-grid-item-2, #nested-grid-item-4 {
    width:320px;
}

#nested-grid-item-3 {
    width:900px;
}

.nested-grid-item:nth-child(3) {
    width: 800px;
}

main {
    position: relative;
    grid-row: 2;
}

#homeCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.vh-100 {
    height: 100vh;
}

#indexNav{
    padding-left: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.navItems {
    color: #1F252C;
    text-decoration: none;
    padding: 20px;
    margin: 30px;
    font-size: 32px;
}

.navItems:hover {
    color: #1F252C;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

.navItems.about, .navItems.home {
    padding-top: 50px; /* Adjust the value as needed */
}

#projectNav {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

#projectNav li {
    display: block; /* Change the display property to block */
    margin-bottom: 10px; /* Add some margin between each list item */
    margin-left: 25px;
}

#projectNav a {
    color: #1F252C;
    text-decoration: none;
}
#projectNav a:hover {
    color: #1F252C;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

.mainNav {
    margin-top: 190px;;
}

#activePage {
    font-weight: 750;
}

#about {
    margin-top: 475px;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr; /* Change to a single column */
    grid-gap: 30px;
    max-width: 900px;
    margin-left: 15px;
}


.btn {
    background-color: #1F252C;
    color: #DDDDDD;
    font-size: 16px;
}

.btn:hover {
    font-style: italic;
    color: #DDDDDD;
    font-size: 16px;
}

#githubLink {
    margin: 0;
    padding: 0;
}



footer {
    text-align: center;
    font-size: 12px;
    grid-row: 3;
    /*
    background-color: #DDDDDD;
    padding-top: 20px;
    */
}

