@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* serif font for headings */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #DDDDDD;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    position: relative;
    grid-row: 2;
}

/* setting position and sizing of canvas */
/* z-index = -1 so it doesn't interfere with other elements */
#homeCanvas {
    position: fixed; /* Change from absolute to fixed */
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport width instead of percentage */
    height: 100vh; /* Use viewport height instead of percentage */
    z-index: -1;
}

.vh-100 {
    height: 100vh;
}


/* removing bullets from list */
ul {
    list-style-type: none;
}

/* making list horizontal (nav) */
li {
    display: inline;
}

/* removing underline and changing colour of links */
.navItems {
    color: #1F252C;
    text-decoration: none; /* Add this line */
}

/* hover event on links to show its selection */
.navItems:hover {
    color: #1F252C;
    font-weight: 700;
    font-style: italic;
    text-decoration: none; /* Add this line */
}

footer {
    text-align: center;
    font-size: 12px;
    grid-row: 3;
}

